*.pyc
*.pyo
*~
.DS_Store
.env
.vfenv
.venv
.Python
.foreman
.coverage
*.floo
*.sass-cache*
*.vagrant*
*.sublime-*
*.sqlite3*
*.sass-cache
*app.js
*services.js
*controllers.js
*directives.js


/node_modules
npm-debug.log
